{% extends 'header.html' %}
{% load static %}
{% block title %}Buat Kegiatan{% endblock %}

{% block content %}

<div class="container" style="margin-top: 2%">
	<h1 style="text-align: center;">Buat Kegiatan Baru</h1>
	<form action="/buatKegiatan/" class="was-validated" method="POST">
		{% csrf_token %}
	    <div class="form-group" style="margin-top: 5%">
	      <label for="namaKegiatan">Kegiatan :</label>
	      <input type="text" class="form-control" id="namaKegiatan" placeholder="Nama kegiatan" name="namaKegiatan" required>
	      <div class="valid-feedback">OK.</div>
	      <div class="invalid-feedback">Isi form terlebih dahulu.</div>
	    </div>
	    <div class="center_pos">
	    	<button type="submit" class="btn btn-primary" >Submit</button>
	    </div>
	</form>
</div>
{% endblock %}