{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>
    {% block title %}
    {% endblock %}
	</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <ul class="navbar-nav">
	  	<li class="nav-item">
	  		<a class="nav-link" href="{% url 'app:index' %}">Halaman Utama</a>
	  	</li> 
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'app:buat_kegiatan' %}">Buat Kegiatan</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'app:daftar_kegiatan' %}">Daftar Kegiatan</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'app:list_kegiatan' %}">List Kegiatan</a>
	    </li>
	  </ul>
	</nav>

  	{% block content %}
  	{% endblock %}
  </body>


