{% extends 'header.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class = "container" style="margin-top: 2%">
	<h1 style="text-align: center;">Daftar atau Buat Kegiatan Anda</h1>
	<div class = "row" style="margin-top: 5%">
		<div class = "col-sm-6">
			<h3 style="text-align:center;">Buat Kegiatan Baru</h1>
			<div class="center_pos">
				<a href = "{% url 'app:buat_kegiatan' %}" class="btn btn-info" role="button" style="margin-top: 20px">Buat</a>
			</div>
		</div>
		<div class = "col-sm-6">
			<h3 style="text-align:center;">Daftar Kegiatan Baru</h1>
			<div class="center_pos">
				<a href = "{% url 'app:daftar_kegiatan' %}" class="btn btn-info" role="button" style="margin-top: 20px">Daftar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
