{% extends 'header.html' %}
{% load static %}
{% block title %}Daftar Kegiatan{% endblock %}


{% block content %}
	<div class="container" style="margin-top: 5%">
		{% for kegiatan in info_kegiatan %}
			<h3 style="text-align: center;">{{ kegiatan.namaKegiatan }}</h3>
			<p style="text-align: center;">{{ kegiatan.nama }}
		{% endfor %}
{% endblock %}